/* Estilo global */
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
}

/* Estilo para a tela inicial */
.container1 {
    max-width: 1200px;
    margin: 50px auto;
    padding: 150px;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 15px;
    background-color: rgba(37, 32, 32, 0.2);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #fff;
    transform: scale(1.05);
}

/* Estilo para a tela de aposta */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.balance {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.betting-section {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    padding: 15px 10px;
    background-color: #00000034;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    border: 2px solid transparent;

}

.button1{
    padding: 15px 10px;
    background-color: #00000034;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    border: 2px solid transparent;

  
}



button:hover {
    background-color: #00000000;
    border-color: #fff;
    transform: scale(1.05);
}

/* Estilo aprimorado para o botão de apostar */
.betting-section button {
    background-color: #029c3d;
    color: #fff;
    border-radius: 25px;
    font-size: 20px;
    padding: 12px 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.betting-section button:hover {
    background-color: #10570265;
    transform: scale(1.1);
}

.result-message {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/* Estilo para o botão de fechar na tela flutuante do histórico */
.close-icon {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    color: #ff0000;
    background: none;
    border: none;
}

/* Estilo aprimorado para a tela flutuante do histórico */
.history-section {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.history-section h2 {
    margin-top: 0;
    font-size: 24px;
    color: #ffda79;
}

.controls {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fff;
}

.history-section.open {
    transform: translateY(-10px);
}
